html,body{
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .infos{
     position: absolute;
    left: 40px;
    top: 40px;
  }
  
  .infos h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  
  .infos h3 {
    color: red;
  }
  
  
  .cards {
    color: white;
    
  }
  
  .cards .row {
    display: flex;
  }
  .cards .card {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 12px;
  }
  
  .cards .card:active,.cards .card.active{
    border:solid red;
    border-width: 5px;
  }
  
  .cards .card:hover{
    border:solid red;
    border-width: 5px;
  }
  
  .inputStatus {
    margin-top: 10px;
  }
  .inputStatus .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    opacity: 0.2;
    margin: 6px;
    border-radius: 50%;
  }
  .inputStatus .circle.correct {
    opacity: 1;
  }